.update-recipe {
    padding: 20px;
    background-color: var(--neutral-cream);
    color: var(--dark-chocolate);
  }
  
  .update-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .update-form input, .update-form textarea {
    padding: 8px;
    border: 1px solid var(--neutral-gray);
    border-radius: 5px;
    font-size: 1rem;
    width: 100%;
  }
  
  .update-form button {
    align-self: flex-start;
  }
  